<div {{ attributes }} class="flex flex-col gap-4">
	<article class="flex flex-col gap-4 rounded-lg bg-white p-4">
		<header class="flex gap-4 items-center">
			<twig:BaseAvatar
				png="{{ png }}"
				webp="{{ webp }}"
			/>
			<div class="flex gap-[7px] items-center">
				<h1 class="heading-medium text-neutral-2-dark">{{ username }}</h1>
				{% if app.user.id == userId %}
					<span class="text-[13px] text-white px-1.5 pt-px pb-[3px] rounded-sm bg-primary">you</span>
				{% endif %}
			</div>
			<span class="body-medium text-neutral-2">1 month ago</span>
		</header>
		{% if isEditing %}
			<form data-model="*" class="flex flex-col gap-4 items-end">
				<textarea
					name="content"
					value="{{ content }}"
					class="input-field border-neutral-1 h-24"
            		placeholder="Add a comment…">{{ content }}</textarea>
			</form>
			<button
				class="button button-primary uppercase body-medium-bold w-[104px]"
				data-action="live#action"
				data-live-action-param="editComment"
			>
				Update
			</button>
		{% else %}
			<p class="body-medium text-neutral-2">{{ content }}</p>
		{% endif %}
		<div class="flex justify-between">
			<twig:BaseCounter score="{{ score }}"/>
			<div class="flex gap-6">
				{% if app.user.id == userId %}
						<twig:BaseButtonDelete />
						<twig:BaseButtonEdit />
					{% else %}
						<twig:BaseButtonReply/>
				{% endif %}
			</div>
		</div>
	</article>
	<twig:BaseReplyAdd
		replyContent="{{ replyContent }}"
		isReplying="{{ isReplying }}"
	/>
	<twig:BaseCommentReplyList
		replies="{{ this.replies }}"
		commentId="{{ commentId }}"
	/>
	<twig:BaseCommentDelete isDeleting="{{ isDeleting }}" />
</div>
