{% props placeholder = "", name = "", value = "", type = "", errors = [], isValid = false %}

<div class="relative">
	<input
		class="
			input-field
			{{
				isValid == false ? "border-danger" :
				isValid == true and value != "" ? "border-primary" :
				"border-neutral-1"
			}}
		"
		value="{{ value }}"
		type="{{ type }}"
		name="{{ name }}"
		placeholder="{{ placeholder }}"
		autocomplete="off"
	/>
	{% if isValid == false %}
		{% for error in errors %}
			<span class="absolute right-4 text-red body-small">{{ error }}</span>
		{% endfor %}
	{% endif %}
</div>
