<ul {{ attributes }} class="flex flex-col gap-4">
    {% for comment in this.comments %}
        <li>
            <twig:BaseComment
                key="{{ comment.id }}"
                commentId="{{ comment.id }}"
                userId="{{ comment.user.id }}"
                username="{{ comment.user.username }}"
                png="{{ comment.user.image.png }}"
                webp="{{ comment.user.image.webp }}"
                content="{{ comment.content }}"
                score="{{ comment.score }}"
            />
        </li>
    {% endfor %}
</ul>